<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <title>Site maker</title>
    <link rel="stylesheet" href="css/demo-framework.css">
    <link rel="stylesheet" href="css/shit.css">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
</head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<body ng-app="dnd" ng-controller="editCtrl" data-spy="scroll" data-target="#myScrollspy" data-offset="15">
<div th:switch="${role}">
<span th:case="'user'">
<div th:replace="fragments/header ::'userHeader'"></div>
</span>
    <span th:case="*">
<div th:replace="fragments/header ::'unsignedHeader'"></div>
</span>
</div>
<div class="container">
    <div class="nestedDemo row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" class="col-md-12">
                    <div class="dropzone box box-yellow">
                        <h3>Dropzone</h3>
                        <div ng-include="'list.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="nested"></div>
            <div ng-if="models.selected" class="box box-grey box-padding">
                <h3>Selected</h3>
                <strong>Type: </strong> {{models.selected.type}}<br>
                <div id="output" type="text" ng-model="models.selected.code" summernote></div>
            </div>
            <h2>Generated Model</h2>
            <pre>{{modelAsJson}}</pre>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" id="myScrollspy">
            <ul class="affix" data-offset-top="-1" data-spy="affix" style="margin-right: 90%; padding-left: 0px">
                <button type="button" ng-click='savePage()' class="btn btn-success btn-block"
                        style="margin-bottom: 15px;">Save page
                </button>
                <div class="toolbox box box-grey box-padding ">
                    <h3>New Elements</h3>
                    <ul>
                        <li ng-repeat="item in models.templates"
                            dnd-draggable="item"
                            dnd-effect-allowed="copy">
                            <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="trashcan box box-grey box-padding">
                    <h3>Trashcan</h3>
                    <ul dnd-list="[]">
                        <li><img src="http://s1.iconbird.com/ico/2013/12/505/w450h4001385925290Delete.png"
                                 height="160px" width="160px"></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>

    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list">
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1)"
                dnd-selected="models.selected = item"
                ng-class="{selected: models.selected === item}"
                ng-include="item.type + '.html'">
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="container.html">
        <div class="container-element box box-blue">
            <h3>Container {{item.id}}</h3>
            <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
            <div class="clearfix"></div>
        </div>
    </script>
    <script type="text/ng-template" id="item.html">
        <div class="item"><p ng-bind-html="item.code"></p></div>
    </script>

</div>
</div>


<script>
    function eraseText() {
        document.getElementById("output").value = "";
    }
    function addImg() {
        document.getElementById("output").value += "<img src='img link' width='300px' height='300'></img>";
    }
</script>
<script src="js/angular-drag-and-drop-lists.js"></script>
<script src="js/dnd.js"></script>

</body>
</html>

