<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Site maker</title>
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body ng-app="mainView">
<div th:switch="${role}">
    <span th:case="'user'">
		<div th:replace="fragments/header ::'userHeader'"></div>
    </span>
    <span th:case="*">
		<div th:replace="fragments/header ::'unsignedHeader'"></div>
    </span>
</div>
<div class="container" ng-controller="mainCtrl">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default" >
                <div class="panel-heading"><h4>All Sites</h4></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Edit date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in siteByAlhp | limitTo:10">
                            <td><a ng-href="/site?site={{item.id}}">{{item.name}}</a></td>
                            <td>{{item.editDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" >
                <div class="panel-heading"><h4>Last created</h4></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Create date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in siteByCreation  | reverse | limitTo:10">
                            <td><a ng-href="/site?site={{item.id}}">{{item.name}}</a></td>
                            <td>{{item.createDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default" >
                <div class="panel-heading"><h4>New users</h4></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in users  | reverse | limitTo:10">
                            <td><a ng-href="/profile?id={{item.id}}">{{item.name}}</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/mainView.js"></script>
</body>
</html>
