<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:ng-src="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>User profile</title>
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body ng-app="profile">

        <div th:switch="${role}">
            <span th:case="'user'">
		        <div th:replace="fragments/header ::'userHeader'"></div>
            </span>
            <span th:case="*">
		        <div th:replace="fragments/header ::'unsignedHeader'"></div>
            </span>
        </div>

        <div class="container" ng-controller="profileUserCtrl">
		<div class="row">
  			<div class="col-md-12">
				<div class="panel panel-default" >
					<div class="panel-heading"><h4>Information about {{user.name}}:</h4></div>
					<div class="panel-body">
						<div class="row">
  							<div class="col-md-2">
								<img ng-src ="{{user.photoUrl}}">
							</div>
							<div class="col-md-10">
                                <div>Name: {{user.name}}</div>
                                <div>Social web link: <a ng-href="{{user.socialUrl}}">{{user.socialUrl}}</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>User sites:</h4></div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Title</th>
									<th>Edit date</th>
									<th>Create date</th>
									<th ng-if="user.id != null">Management</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in site">
									<td><a ng-href="/site?site={{item.id}}">{{item.name}}</a></td>
									<td>{{item.editDate}}</td>
									<td>{{item.createDate}}</td>
									<td  ng-if="user.id == user.sessionId && user.id != null">
										<a ng-href="/edit?site={{item.id}}" class="btn btn-success ">Edit</a>
										<a ng-href="/delete/site/{{item.id}}" class="btn btn-danger ">Delete</a>
									</td>
									<td  ng-if="user.id != user.sessionId">
										<!--TODO: backend listener of adding to favorite-->
										<a ng-click="null" class="btn btn-success ">Add to favorite</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="user.id == user.sessionId && user.id != null">
						<div class="panel-footer text-right">
							<a href="http://localhost:8080/create" class="btn btn-warning ">Create</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
