<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Twitter Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>	
	<div class="container">	
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
			  <a href="http://localhost:8080/" class="navbar-brand">Site creator</a>
		    </div>
			<div class="collapse navbar-collapse">
			  <form class="navbar-form navbar-left">
				<div class="form-group">
				  <input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			  </form>
			</div>
		  </div>
		</nav>
		<div class="site-wrapper">
		  <div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">Connected to Social Network.</h1>
					<p class="lead"> You are now connected to your Twitter account.</p>
					<p class="lead"> Our site does not store any of your data from the social network.</p>
					<p class="lead">
					<a href="/" class="btn btn-lg btn-success center-block" style="width: 150px">Continue</a>
					</p>
				</div>
			  </div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>
